data/
data_old/
terraform/.terraform*
terraform/terraform*
.DS_Store
.ipynb_checkpoints/
__pycache__

# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content
